* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8E2DE2;
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.container {
    padding: 25px 23px;
    width: 500px;
}

.target {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25);
    border-radius: 10px;
    padding: 25px 30px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    user-select: none;
    
}

input {
    padding: 0px 27.5px 0px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 32px;
    font-size: 16px;
    background-color: rgba(15, 15, 15);
    width: 65%;
    color: white;
}

input::placeholder {
    transition: .3s;
}

input:focus::placeholder {
    color: transparent;
}

button {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    background-color: #8E2DE2;
    color: white;
    transition: .3s;
}

button:hover {
    cursor: pointer;
    background-color: #6620a3;
    transform: scale(1.03);
}

i {
    position: relative;
    right: 25px;
    font-size: 20px;
    pointer-events: none;
    color: white;
}

p {
    color: rgba(180, 180, 180);
    font-weight: 500;
    text-align: justify;
}