<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highlight Searched Text</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="target">
            <div class="searchContainer">
                <input type="text" autocomplete="off" placeholder="Search..."><i class='bx bx-search-alt'></i><button onclick="searchText()">Search</button>
            </div>
            <div class="textContainer">
                <p id="text">
                    Cars meeting at the designated location for a monthly
                    gathering, showcasing a variety of unique vehicles.
                    Enthusiasts gather to admire the sleek designs, powerful
                    engines, and custom modifications. Owners take pride in
                    showcasing their prized possessions and exchanging tips
                    and stories with fellow car lovers. The atmosphere is
                    filled with excitement and anticipation as the engines
                    rev and the exhaust notes fill the air. Spectators line
                    up to catch a glimpse of the impressive lineup of cars, from
                    classic models to modern sports cars. It's a fantastic
                    opportunity for car enthusiasts to connect and share
                    their passion for all things automotive.
                </p>
            </div>
        </div>
    </div>
</body>
</html>